{% extends "layout.html" %} {% block content %}
<div class="jumbotron">
    <div class="bs-component">
        <div class="container">
        {% for room in rooms %}
            <div class="row">
                <div class="col-sm">
                    <h5>{{room.name}}</h5>
                </div>
                <div class="col-sm">
                    <a class="btn btn-primary btn-sm" href="/room/{{room.id}}" id="room::{{room.id}}"
                    type="button">Modify</a>
                </div>
                <div class="col-sm">
                    <h5>Last Modified by: {{room.last_modify_user}} at {{room.last_modify_time}}</h5>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
